<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="org.example.touch"
      android:versionCode="1"
      android:versionName="1.0" >
   <application android:name=".AppDelegate"
   		 android:icon="@drawable/icon"
         android:label="@string/app_name"
         android:theme="@android:style/Theme.NoTitleBar" android:debuggable="true">
      <activity android:name=".Touch"
            android:label="@string/app_name" >
         <intent-filter>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
         </intent-filter>
      </activity>
      <activity android:name=".Controller"></activity>
   </application>
   <uses-sdk android:minSdkVersion="7" android:targetSdkVersion="7" />
   <uses-permission android:name="android.permission.INTERNET"></uses-permission>
</manifest>